<%- include('../partials/header') %>

    <label>Add Competitor</label>
    <form action="/competitors" method="POST">
        <label>Name:</label>
        <input type="text" name="competitorName"><br>
        <label>Team Name:</label>
        <input type="text" name="teamName"><br>
        <label>Wins:</label>
        <input type="number" name="win" value="0"><br>
        <label>Losses:</label>
        <input type="number" name="lose" value="0"><br>
        <input id="submitbutton" type="submit" value="Submit">
    </form>

    <%- include('../partials/footer') %>