<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/header') %>
</head>
<body>
    <a href="matches/new">Add New Match</a>
    <label>Matches</label>
</body>
</html>