<%- include('../partials/header') %>

<Label>Add Match</Label>
<form action="/matches" method="POST">
    <label>Match Name</label>
    <input type="text" name="matchName"></input><br>
    <label>Location</label>
    <input type="text" name="location"></input><br>
    <label>Date</label>
    <input type="date" name="date"></input><br>
    <input type="submit">
</form>


<%- include('../partials/footer') %>